@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital@1&family=Updock&family=Yellowtail&display=swap');
body{
    background-color: aliceblue;
    width: 300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}
.conteiner{
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    border: none;
    margin: 0px;
    padding: 15px;
    outline: 0px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-style:solid;
    

}
fieldset{
    border: none;
}
.display{
    display: block;
    width: 100%;
    height: auto;
}

#submit{
    width: 100%;
}
.dist{
    height: 20px;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ul{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-color: #006eff;
    border-radius: 50%;
    text-align: center;
}
