@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

#name {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: blue;
    
}
#imagem {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.principal{
    background-color: rgb(169, 248, 248);

}
.informacoes{

    background-color:rgb(169, 248, 248)
}
.minhadiv{
    text-align: center;
    border-style:dotted ;
    background-color: gray;
}
ol{
    list-style-type: upper-alpha;
}
.significados{
    color: rgb(6, 136, 250);
}